
body{
    background-image: url('./assets/backgroundlogin.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    
    padding-top: 10%;
}

.btn{
    margin-top: 2em;
}

form{
    padding: 0 2em;
}
.span{
    font-size: 0.9em;
}